/* Insert any CSS code below here */
body {
  font-family: 'Rye', cursive;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
div {
  background-color: #c0a37b;
  text-align: center;
  overflow: hidden;
  border: 2px solid black;
  width: 25em;
  position: absolute;
}
h1 {
  font-size: 5em;
}
h1, h3 {
  margin: 0;
}