html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("imgs/background.jpg");
  background-repeat:repeat-x;
  background-color: #d6d6d6;
  font-family: Helvetica;
  font-size: 12px;
  line-height: 1.7;
  margin: 0;
}
a {
  color: #ff3300;
  text-decoration: none;
  font-weight: 800;
}
header {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  align-items: flex-start;
  max-width: min-content;
  margin: 0 auto;
  padding: 3em;
}
main {
  background-color: #ffffff;
  padding: 15px 15px 5em 15px;
}
main p {
  border-bottom: dotted;
  padding-bottom: 1em;
}
main span {
  border-bottom: 1px solid black;
  width: 100%;
  display: block;
}
aside {
  background-color: #ffffff;
  margin-left: 20px;
  padding: 2em;
}
aside ul {
  padding: 0;
}
aside ul li {
  list-style: none;
  font-weight: bold;
}
.aside-img {
  padding-bottom: 2em;
}
footer {
  display: flex;
  justify-content: center;
}
footer img{
  padding-right: 1px;
  padding-left: 1px;
}
@media screen and (max-width: 960px) {
  .container {
    flex-direction: column;
  }
  aside {
    margin-left: 0px;
    margin-top: 20px;
  }
  .aside-img {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
  }
  .aside-img img {
    padding-bottom: 2em;
  }
}
@media screen and (max-width: 680px) {
body {
  width: fit-content;
}  
.container {
  margin: 0;
  padding: 0;
 }
 main {
  margin-top: 3em;
  padding: 2em;
 }
 main img {
  max-width: 36em;
  width: -webkit-fill-available;
 }
 footer {
  margin-top: 3em;
 }
}